.food {
    width: 1400px;
  padding-bottom: 120px;
  font-family: Arial, sans-serif;
  color: #274c5b;
}

.food-hero {
  position: relative;
}

.food-hero img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border-radius: 30px;
}


.food-overlay {
  position: absolute;
  left: 50%;
  bottom: -90px;
  transform: translateX(-50%);
  max-width: 900px;
  width: 90%;
  background: rgba(255, 255, 255, 0.92);
  padding: 40px 50px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
}

.food-meta {
  display: block;
  font-size: 14px;
  color: #7eb693;
  margin-bottom: 15px;
}

.food-overlay h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
}

.food-overlay p {
  font-size: 16px;
  line-height: 1.7;
  color: #525c60;
}


.food-body {
  max-width: 820px;
  margin: 160px auto 0;
}

.food-body p {
  line-height: 1.9;
  color: #525c60;
  margin-bottom: 25px;
}

.food-body h2 {
  font-size: 32px;
  margin: 60px 0 20px;
}

.food-body h3 {
  font-size: 28px;
  margin: 60px 0 20px;
}


.food-list p {
  display: flex;
  align-items: center;
  gap: 10px;
}


.food-quote {
  background: #f1edea;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
  margin: 60px 0;
}


.food-steps p {
  margin-bottom: 12px;
}