.home {
  width: 1400px;
  font-family: "Poppins", sans-serif;
}


.hero {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
}

.hero-img {
  width: 100%;
  border-radius: 30px;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(-50%);
  max-width: 420px;
}

.hero-text span {
  color: #68a47f;
  font-size: 16px;
  font-weight: 500;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.15;
  color: #274c5b;
  margin: 15px 0 30px;
}

.hero-text button {
  background: #efd372;
  border: none;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* ================= BANNERS ================= */

.banners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 100px;
}

.banner {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.banner-text span {
  font-size: 16px;
  font-weight: 500;
}

.banner-text h3 {
  font-size: 32px;
  line-height: 1.2;
  margin-top: 10px;
}

/* Цвета как на фото */
.banner.pink .banner-text {
  color: #fff;
}

.banner.green .banner-text {
  color: #274c5b;
}


.about-bn {
  display: grid;
  font-size: 16px;
  font-weight: 500;
}

.about-text h2 {
  font-size: 40px;
  line-height: 1.2;
  color: #274c5b;
  margin: 15px 0 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #525c60;
  margin-bottom: 30px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.about-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.about-icon {
  min-width: 50px;
  height: 50px;
  background: #f9f8f8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-item h4 {
  font-size: 18px;
  color: #274c5b;
  margin-bottom: 5px;
}

.about-item p {
  font-size: 14px;
  color: #525c60;
}

.about-btn {
  background: #274c5b;
  color: #fff;
  padding: 16px 32px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}