.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef4ff; }

.login-box {
  width: 360px;
  padding: 26px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  text-align: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #2d7ff9;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #c9d8ff;
  margin-top: 6px;
  font-size: 14px;
  outline: none;
}

.input-group input:focus {
  border-color: #2d7ff9;
}

.remember-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  font-size: 14px;
}

.remember-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.forgot {
  color: #2d7ff9;
  font-size: 14px;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #2d7ff9;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.2s;
}

.login-btn:hover {
  background: #1e6be0;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  position: relative;
}

.divider span {
  background: #fff;
  padding: 0 10px;
  font-size: 14px;
  color: #555;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

.social-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #2d7ff9; 
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.25s;
}

.social-btn:hover {
  background: #1e6be0;
}

.social-btn svg {
  font-size: 20px;
  margin-right: 2px;
}

.bottom-text {
  font-size: 14px;
  margin-top: 10px;
}

.bottom-text a {
  color: #2d7ff9;
  text-decoration: none;
  font-weight: 500;
}
