
.shop-page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 160px 20px 50px; 
  text-align: center;
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
}

.shop-hero {
  position: relative;
  width: 100%;
  margin: 0 auto 60px;
}

.shop-hero-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.shop-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color:  #274C5B;
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: 0px 5px 18px rgba(0,0,0,0.5);
  animation: fadeIn 0.5s ease;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}


.shop-text {
  margin-bottom: 40px;
}

.shop-text h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1c1c1c;
  margin-bottom: 10px;
}

.shop-text p {
  font-size: 18px;
  max-width: 600px;
  color: #555;
  margin: 0 auto;
  line-height: 1.6;
}


.shop-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 50px;
}

.cat-btn {
  padding: 14px 36px;
  border-radius: 35px;
  border: 2px solid #37b24d;
  background: white;
  font-size: 18px;
  font-weight: 600;
  color: #37b24d;
  text-decoration: none;
  transition: 0.3s ease;
}

.cat-btn:hover {
  background: #37b24d;
  color: white;
}

.cat-btn.active {
  background: #37b24d;
  color: #fff;
}


.shop-content {
  min-height: 450px;
  padding: 20px;
  animation: fadeIn 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .shop-page {
    padding: 140px 15px 40px;
  }

  .shop-hero-img {
    height: 350px;
  }

  .shop-title {
    font-size: 56px;
  }

  .shop-text h2 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .shop-page {
    padding: 120px 15px 30px;
  }

  .shop-hero-img {
    height: 300px;
  }

  .shop-title {
    font-size: 42px;
    letter-spacing: 2px;
  }

  .shop-text h2 {
    font-size: 28px;
  }

  .shop-text p {
    font-size: 16px;
  }

  .shop-categories {
    gap: 15px;
  }

  .cat-btn {
    padding: 12px 28px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .shop-page {
    padding: 100px 12px 20px;
  }

  .shop-hero-img {
    height: 250px;
  }

  .shop-title {
    font-size: 32px;
    letter-spacing: 1px;
  }

  .shop-text h2 {
    font-size: 24px;
  }

  .shop-text p {
    font-size: 14px;
  }

  .shop-categories {
    gap: 12px;
  }

  .cat-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

