main {
  margin-top: 120px; /* чтобы контент не заходил под header */
}

/* RESPONSIVE MAIN MARGIN */
@media (max-width: 768px) {
  main {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  main {
    margin-top: 70px;
  }
}
