@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Container utility for centering content */
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}